
<!--
d)
Add another ejs file in views folder. 
Display the comment in a H1 tag
-->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Your course </title>
    <link rel="stylesheet" href="css/viewstyles.css">
</head>
    <body>
		<div class="div_container">
            <h1> Thank you, <%= email %>  </h1>       
            <h3>we appreciate your comments: <%= comment %></h3> 
        </div>
    </body>
</html>
